* {
    margin: 0; 
    padding: 0;
}

header {
    background-color: rgb(180, 0, 27);
    border-bottom:solid 5px rgb(54, 100, 24);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Rose {
    margin-right: 3rem;
    padding: 20px;
    background-color: rgb(138, 255, 60);
    font-family: "Playwrite CA", cursive;
    border-radius: 50%;
    border: dotted 5px black;
}

.logo {
    padding: 10px;
}

body {
    background-color: rgb(101, 190, 42);
}

.cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin: 1rem;
    gap: 1rem;
}

.box {
    position: relative;
}

.cards {
        grid-template-columns: 1fr, 1fr, 1fr;
        grid-template-rows: repeat(6, 1fr);
    }

.card {
        display: grid;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        text-align: center;
        border-radius: 50%;
        border: dotted 5px black;
    }

    .one {
        background-color:lavenderblush;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
    }
    
    .two {
        background-color: rgb(252, 158, 172);
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 6;
    }
    
    .three {
        background-color: lightpink;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    .four {
        background-color: rgb(253, 81, 107);
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    
    .five {
        background-color: rgb(252, 117, 137);
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 6;
    }
    
    .six {
        background-color: rgb(254, 64, 93);
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    .seven {
        background-color: rgb(180, 0, 27);
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 6;
        grid-row-end: 7;
    }
    
    .eight {
        background-color: rgb(253, 0, 38);
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 6;
        grid-row-end: 7;
    }
    
    .nine {
        background-color: rgb(252, 36, 69);
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }

@media (min-width: 992px){


.one {
    background-color:lavenderblush;
    grid-column-start: 3;
    grid-row-start: 3;
}

.two {
    background-color: rgb(252, 158, 172);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
}

.three {
    background-color: lightpink;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.four {
    background-color: rgb(253, 81, 107);
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
}

.five {
    background-color: rgb(252, 117, 137);
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}

.six {
    background-color: rgb(254, 64, 93);
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}

.seven {
    background-color: rgb(180, 0, 27);
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 6;
}

.eight {
    background-color: rgb(253, 0, 38);
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;
}

.nine {
    background-color: rgb(252, 36, 69);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;
}

}

footer {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover {
    background-attachment: fixed;
    background-image: radial-gradient(
        circle at var(--x, 0) var(--y, 0),
        hsl(0 0% 100% / 0.75),
        hsl(0 0% 100% / 0.0125)  
    );
}

.box::after {
    content: "";
    position: absolute;
    inset: -5x;
    background-attachment: fixed;
    background-image: radial-gradient(
        circle at var(--x, 0) var(--y, 0),
        hsla(0 0% 4% 0.75)
        transparent 5rem
        );
        pointer-events: none;
        z-index: -1;
}



